# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# PyInstaller Build Artifacts
build/
dist/
*.spec

# Game Data (Optional: ignore local leaderboards so everyone starts fresh)
leaderboard.json